<template id="login-page">

  {{#framework7}}
  <f7-page name="login-page" class="login-page" no-toolbar no-navbar no-swipeback login-screen>
    <f7-login-screen-title>Framework7</f7-login-screen-title>
    <f7-list form>
      <f7-list-input label="Username" type="text" placeholder="Your username" :value="username" @input="username = $event.target.value"></f7-list-input>
      <f7-list-input label="Password" type="password" placeholder="Your password" :value="password" @input="password = $event.target.value"></f7-list-input>
    </f7-list>
    <f7-list>
      <f7-list-button @click="$f7router.back()">Sign In</f7-list-button>
      <f7-block-footer>
        Some text about login information.<br />
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </f7-block-footer>
    </f7-list>
  </f7-page>
  {{/framework7}}

  {{#bootstrap_vue}}
  <b-container>
    <b-form @submit="onSubmit" @reset="onReset" v-if="show" class="login-form">

      <img class="mb-4" src="https://getbootstrap.com/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">

      <h4>My App</h4>

      <b-form-group
      label-for="input-1"
      >
        <b-form-input
        v-model="form.email"
        type="email"
        required
        placeholder="Email"
        ></b-form-input>
      </b-form-group>

      <b-form-group
      label-for="input-2"
      >
        <b-form-input
        v-model="form.password"
        type="password"
        required
        placeholder="Password"
        ></b-form-input>
      </b-form-group>

      <b-button type="submit" variant="primary" size="lg" block>Sign in</b-button>

      <p class="mt-5 mb-3 text-muted">© 2017-2020</p>

    </b-form>
  </b-container>
  {{/bootstrap_vue}}

</template>

<script>

  {{#framework7}}
  import { 

    f7Page, 
    f7Navbar, 
    f7Link, 
    f7LoginScreenTitle, 
    f7List, 
    f7ListInput, 
    f7ListButton, 
    f7BlockFooter 
  } from "framework7-vue";

  export default {

    name: "LoginPage",

    components: {
      f7Page,
      f7Navbar,
      f7Link,
      f7LoginScreenTitle,
      f7List,
      f7ListInput,
      f7ListButton,
      f7BlockFooter,
    },

    data() {
      return {
        username: "",
        password: "",
      };
    },

    // method for clicking sign in button
    methods: {
      signIn() {
        // do something
      },
    },
  };
  {{/framework7}}
</script>


{{#bootstrap_vue}}
<script>

    export default {
        name: 'LoginPage',

      data() {
          return {
            form: {
          email: '',
          password: ''
            },
            show: true
          }
      },
      methods: {
          onSubmit(evt) {
            evt.preventDefault()

            // do something here
            alert(JSON.stringify(this.form))
          },
          onReset(evt) {
            evt.preventDefault()
            // Reset our form values
            this.form.email = ''
            this.form.password = ''
            // Trick to reset/clear native browser form validation state
            this.show = false
            this.$nextTick(() => {
                this.show = true
            })
        }
    }
  }

</script>
{{/bootstrap_vue}}




{{#framework7}}
<style scoped type="text/css">
    .login-page {
        padding: 20px 8% 20px 8%;
    }
</style>
{{/framework7}}


{{#bootstrap_vue}}
<style scoped type="text/css">
.login-form {
    text-align: center;
    width: 100%;
    max-width: 350px;
    padding: 15px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.login-form h4 {
    margin-bottom: 40px;
}

.login-form input[type="email"] {
    margin-bottom: -17px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.login-form input[type="password"] {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    margin-bottom: 30px;
}

.login-form btn {
     margin-top: 200px;
}
</style>
{{/bootstrap_vue}}