import Vue from 'vue';

{{#framework7}}
	import Framework7 from 'framework7/framework7.esm.bundle.js';
	import 'framework7/css/framework7.bundle.css';
	import F7vue from 'framework7-vue';
	import 'framework7-icons';
	import App from './views/app.vue';
	import axios from 'axios';
	//import MaterialIcons from 'material-design-icons/iconfont/material-icons.css';
	// init plugins
	Framework7.use(F7vue);
	// console error logging
	console.log(Framework7, F7vue, Vue);
	// remove nag
	Vue.config.productionTip = false;
	// init app
	new Vue({
	    //router,
	    //store,
	    render: h => h(App)
	}).$mount('#app')
{{/framework7}}

{{#bootstrap_vue}}
	// example: https://github.com/alfheild/alacarti/blob/8a8277b7be2f67e17aff22bc13527231d2a8fc9c/resources/assets/js/app.js
	import { BootstrapVue, IconsPlugin } from 'bootstrap-vue';
	import 'bootstrap/dist/css/bootstrap.min.css';
	import 'bootstrap-vue/dist/bootstrap-vue.css';
	import App from './views/app.vue';
	import { router } from './router.js';
	import Axios from 'axios';
	import store from './store.js';
	// init plugins
	Vue.use(BootstrapVue);
	Vue.use(IconsPlugin);
	Vue.use(router);
	// console error logging
	console.log(BootstrapVue);
	// remove nag
	Vue.config.productionTip = false;
	// axios
	Vue.prototype.$http = Axios;
	// vuex
	const token = localStorage.getItem('user-token')
	if (token) {
	  Vue.prototype.$http.defaults.headers.common['Authorization'] = token
	}
	// init app
	new Vue({
	    router,
	    store,
	    render: h => h(App)
	}).$mount('#app')
{{/bootstrap_vue}}

// cordova
function onLoad() {
    document.addEventListener("deviceready", onDeviceReady, false);
}