import Vue from 'vue';

{{#framework7}}
	import Framework7 from 'framework7/framework7.esm.bundle.js';
	import 'framework7/css/framework7.bundle.css';
	import F7vue from 'framework7-vue';
	import 'framework7-icons';
	import App from './views/app.vue';
	//import MaterialIcons from 'material-design-icons/iconfont/material-icons.css';
	// init plugins
	Framework7.use(F7vue);
	// console error logging
	console.log(Framework7, F7vue, Vue);
{{/framework7}}

{{#bootstrap_vue}}
	import { BootstrapVue, IconsPlugin } from 'bootstrap-vue';
	import "bootstrap/dist/css/bootstrap.min.css";
	import 'bootstrap-vue/dist/bootstrap-vue.css';
	import App from './views/app.vue';
	// init plugins
	Vue.use(BootstrapVue);
	Vue.use(IconsPlugin);
	// console error logging
	console.log(BootstrapVue);
{{/bootstrap_vue}}

	// remove nag
	Vue.config.productionTip = false;
	// init app
	new Vue({
	    //router,
	    //store,
	    render: h => h(App)
	}).$mount('#app')

// cordova
function onLoad() {
    document.addEventListener("deviceready", onDeviceReady, false);
}